/*body*/
.dddd{
	border-left-color: #000;
	border-left-width: 9px;
	border-left-style:solid; 
	border-right-color: #000;
	border-right-width: 9px;
	border-right-style:solid; 
	border-top-color: #000;
	border-top-width: 9px;
	border-top-style:solid; 
	border-bottom-color: #000;
	border-bottom-width: 9px;
	border-bottom-style:solid; 


}
/*header animation*/

.headani{

	display: flex;
	justify-content: center;
	align-items: center;
	height: 6vh;
	background: #000;
}


#bbbb{
	position: relative;
	font-family: sans-serif;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	letter-spacing: 4px;
	overflow: hidden;
	background:linear-gradient(90deg,#000, #fff, #000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 5s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color:  rgb(255,255,255,.01);
	background-color:#fff;
}

@keyframes animate{
	0%
	{
		background-position: -500%
	}
	100%
	{
		background-position: 500%
	}
}



#rajesh{
	background-color: #ff4b5c;
	color: #ffff;
	padding-bottom: 5px;
	padding-right: 15%;
}

.title{
	
	text-align: center;
	font-family:verdana;
	font-size: 2.8rem;
	padding-top: 20px;
	padding-left: 15%;
	color: #ffff;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px #919191,
				1px 2px 1px #919191,
				1px 3px 1px #919191,
				1px 4px 1px #919191,
				1px 5px 1px #919191,
				1px 6px 1px #919191,
				1px 18px 6px rgba(16,16,16,0.4),
				1px 22px 10px rgba(16,16,16,0.2);
				/*1px 25px 35px rgba(16,16,16,0.2),
				1px 30px 60px rgba(16,16,16,0.4);

				*/
			}

h2{
	font-family: sans-serif;
	padding-left: 20px;
	font-size: rem;
}


.fr{/*
	font-family: cursive;*/
	font-family: verdana;
	padding-top: 25px;
	padding-left: 25px;
}


.image{
	
		width: 250px;
		height: 250px;
		}

#raghava{
	background-color: #ffc93c;
	padding-top: 20px;
	padding-left: 20px;
}
.rh{
	padding-right: 20px;
}


}

.Explanation{
background-color: #ffc93c;

font-size:1.2rem;
}

.Expp{
	padding-left: 5%;
	padding-right: 15%;

}
.robert{
	height:250px; 
	width:250px;
}

						/*leeuwenhok*/

#sagar{
	background-color: #1e5f74;
	color: white;
	overflow: hidden;
}

.thinking-boy{
height:150px;
width:150px;
float: left;
}
.pic{
	width: 70%;
	margin: 10px auto ;

	
	text-align: left;
	line-height: 2;

}
h4{
	padding-bottom: 50px;
	padding-top: 50px;
	font-size: 2.3rem;
}
.avl{
	text-align: center;
	padding-bottom: 7px;
	font-family: Montserrat-black;
}
#ekk{
	padding-left:20px;
	padding-bottom: 5px;
}

.image2{
	width: 250px;
	height: 250px;
}
.sentence{
	padding-right: 20px;
	padding-bottom: 5px;
}

/*vide0*/
.videol{
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 30px;
	margin-top: 10px;

}

.Explore{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 18px;
	margin: auto;
}

/*BUTTON*/

.btn {
  background: #8774b8;
  background-image: -webkit-linear-gradient(top, #8774b8, #2600ff);
  background-image: -moz-linear-gradient(top, #8774b8, #2600ff);
  background-image: -ms-linear-gradient(top, #8774b8, #2600ff);
  background-image: -o-linear-gradient(top, #8774b8, #2600ff);
  background-image: linear-gradient(to bottom, #8774b8, #2600ff);
  -webkit-border-radius: 36;
  -moz-border-radius: 36;
  border-radius: 36px;
  font-family: Arial;
  color: #ffffff;
  font-size: 39px;
  border-color: ;
  border-style: solid;
  border-width: 0;
  padding: 12px 40px 10px 40px;
  text-decoration: none;
  margin-left: 40%;
  margin-bottom: 30px;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}



/*footer*/
#end{
	background-color: #000;
	color: #fff;
	padding-top: 30px;
	overflow: hidden;
	padding-bottom: 50px;

}

.endh{
	text-align: center;
	font-family: verdana;

}

.rajimg{
margin-left: 42%;
margin-top: 15px;
width: 150px;
height: 150px;
margin-bottom: 8px;


}

.endnam{
	color:#f6f4e6;
	margin: auto;
	font-size:1.4rem;
	text-align: center;
	font-family: 'Nixie One', cursive;
}

.endl{
	font-family: 'Roboto', sans-serif;

}

.social-menu{
margin-left: 40%;
text-decoration: none;

}

.social-menu a{
	display:inline-flex;
	width: 40px;
	height: 40px;
	background: #2ec1ac;
	color: white;
	margin: 0px 6px;
	border-radius: 100%;
	justify-content: center;
	align-items: center;
	transition: 0.4s;
	font-size: 18px;

	}
.social-menu a:hover{
	background:#e67e22;
}

.social-menu a i{
	transition: 0.4s all;
}

.social-menu  a:hover i{
	transform: scale(1.6) rotate(25deg); 

}
